


@* Do the landing page it should contain 3 buttons 1 for viewing piechart another 
one for bar chart and leave anither 1 empty and see where to pace these buttons .
And In the <p> tag we need to add some data it should be in left side and right side we should place any image like 
    in this image https://images.app.goo.gl/nF9v85PngsPgdwv49
 *@

 @* That's All in this page  -------xxPlace your Images in root folder or if you're using online img src asl finexx-----
 *@
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixed Reality Data Analytics Concept</title>

    
    <link rel="stylesheet" href="~/css/DashBoard.css">

</head>
<body>
    
    <div class="navbar">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </div>

    <div class="container">
        <h1>Get Started Today</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 1170829113</p>

    </div>
</body>
</html>
