body {
    /* other styles */
    background: linear-gradient(45deg, #007bff, #ff4c68);
}

.container {
    padding-top: 150px;

}

.navbar {
    position:absolute;
    top:20px;
    display:inline-flex;
    align-items:flex-end;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .navbar a {
        color: #333;
        text-decoration: none;
        padding: 10px 20px;
    }

    .navbar a:hover {
        background-color: #f2f2f2;

    }
    